{% extends "base.html" %}

{% block content %}

    <h2> {{ artist.name }} </h2>
    <p><b>Genre:</b> {{ artist.genre }}</p>
    <p><b>Hometown:</b> {{ artist.hometown }}</p>
    <p><b>Description:</b> {{ artist.description }}</p>
    <p><b>Upcoming Events:</b>

    <ul>
       {% for artistEvent in artistEvents %}
           {% for event in event_list %}
                {% if artistEvent.eventID == event.id %}
                   {% for venue in venue_list %}
                        {% if event.venueID == venue.id %}
                            <li><b>{{ event.name }}</b> at <b>{{ venue.name }}</b> on <b>{{event.time.strftime('%A, %b %d %Y')}}</b>.</li>
                        {% endif %}
                   {% endfor %}
                {% endif %}
           {% endfor %}
       {% endfor %}
    </ul>

    </p>

{% endblock %}