<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if artist %}
        <title>{{ artist }}'s Page</title>
    {% else %}
        <title>The Library</title>
    {% endif %}
</head>
<body>
    <div>
        <h3>The Library:</h3>
        <a href="/index">Home</a>
        {% for artist in artists %}
            <a href="/Kindo">{{ artist }}</a>
        {% endfor %}
        <a href="/create_new_artist">Create New Artist</a>
    </div>
    <hr>
    {%  block content %}{% endblock %}
</body>
</html>