{% extends "base.html" %}

{% block app_content %}
    <h1 style="display: flex; justify-content: center;">Add an Event!</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}<br>

            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.date.label }}<br>
            {{ form.date }}<br>

            {% for error in form.date.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.venue.label }}<br>
            {{ form.venue }}<br>

            {% for error in form.venue.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.artists.label }}<br>
            {{ form.artists }}<br>

            {% for error in form.artists.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>{{ form.submit() }}</p>

    </form>
{% endblock %}