{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block app_content %}
    <h1 style="display: flex; justify-content: center;">Add an Event!</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.name) }}

        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        {{ wtf.form_field(form.date) }}

        {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ wtf.form_field(form.venue) }}

        {% for error in form.venue.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ wtf.form_field(form.artists) }}

        {% for error in form.artists.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        {{ wtf.form_field(form.submit) }}

    </form>
{% endblock %}