{% extends "base.html" %}

{% block content %}
    <h1 style="display: flex; justify-content: center;">Add a Venue!</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=64) }}<br>

            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.location.label }}<br>
            {{ form.location(size=64) }}<br>

            {% for error in form.location.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>
            {{ form.capacity.label }}<br>
            {{ form.capacity(size=10) }}<br>

            {% for error in form.capacity.errors %}}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>

    </form>
{% endblock %}