{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf%}

{% block app_content %}
    <h1 style="display: flex; justify-content: center;">Add a Venue!</h1>

    <form class="form form-horizontal" action="" method="post" role="form" novalidate>
        {{ form.hidden_tag() }}

        {{ wtf.form_field(form.name) }}

        {% for error in form.name.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ wtf.form_field(form.location) }}

        {% for error in form.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}


        {{ wtf.form_field(form.capacity) }}

        {% for error in form.capacity.errors %}}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

        {{ wtf.form_field(form.submit) }}

    </form>
{% endblock %}