{% extends "base.html" %}

{% block content %}
    <h1 style="display: flex; justify-content: center;">Give us new music!</h1>

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=50) }}<br>

            {% for error in form.name.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.genre.label }}<br>
            {{ form.genre(size=30) }}<br>

            {% for error in form.genre.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>


        <p>
            {{ form.hometown.label }}<br>
            {{ form.hometown(size=25) }}<br>

            {% for error in form.hometown.errors %}}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>
            {{ form.description.label }}<br>
            {{ form.description(size=50) }}<br>

            {% for error in form.description.errors %}}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>

    </form>
{% endblock %}