{% extends "base.html" %}

{% block app_content %}

    <div class="text-center">
        {% if current_user %}
            <h1><small class="text-muted">Welcome, </small>{{ current_user.username }}</h1>
        {% endif %}

        <p>{{ message }}</p>
    </div>

    <div class="list-group list-group-flush">
        {% for artist in artists %}
            <a href="{{ url_for('artist', name=artist.name) }}" class="list-group-item list-group-item-action">{{ artist.name }}</a>
        {% endfor %}
    </div>

{% endblock %}
